<md-tabs class="md-primary" md-selected="0" md-align-tabs="top" md-dynamic-height>
    <md-tab id="tab1">
        <md-tab-label>First输出</md-tab-label>
        <md-tab-body>
            <md-input-container class="md-block" flex>
                <div style="min-height:460px">
                    <label>请拖入测试用例</label>
                    <textarea md-maxlength="150" rows="15" md-select-on-focus></textarea>
                </div>
            </md-input-container>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
        <md-tab-label>Follow输出</md-tab-label>
        <md-tab-body>
            <div style="min-height:490px"></div>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab3">
        <md-tab-label>预测分析表</md-tab-label>
        <md-tab-body>
            <div style="min-height:490px"></div>
        </md-tab-body>
    </md-tab>
</md-tabs>