<md-tabs class="md-primary" md-selected="0" md-align-tabs="top" md-dynamic-height>
    <md-tab id="tab1">
        <md-tab-label>文法分析结果</md-tab-label>
        <md-tab-body>
            <div style="height:490px;overflow-y:scroll" ng-model="grammerResult" id="test">
                <ng-tree-chart chart-data="grammerResult"></ng-tree-chart>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
        <md-tab-label>First输出</md-tab-label>
        <md-tab-body>
            <div style="height:490px;overflow-y:scroll" ng-model="first">
                <table>
                    <tr ng-repeat="x in first">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ x[0] }}</td>
                        <td class="data">{{ x[1] }}</td>
                    </tr>
                </table>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab3">
        <md-tab-label>Follow输出</md-tab-label>
        <md-tab-body>
            <div style="height:490px;overflow-y:scroll" ng-model="follow">
                <table>
                    <tr ng-repeat="x in follow">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ x[0] }}</td>
                        <td class="data">{{ x[1] }}</td>
                    </tr>
                </table>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab4">
        <md-tab-label>预测分析表</md-tab-label>
        <md-tab-body>
            <div style="height:490px;overflow-y:scroll" ng-model="predictMap">
                <table>
                    <tr ng-repeat="x in predictMap">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ x[0] }}</td>
                        <td class="data">{{ x[1] }}</td>
                    </tr>
                </table>
            </div>
        </md-tab-body>
    </md-tab>
    </md-tab>
</md-tabs>