<md-tabs class="md-primary" md-selected="0" md-align-tabs="top" md-dynamic-height>
    <md-tab id="tab1">
        <md-tab-label>测试用例</md-tab-label>
        <md-tab-body>
            <md-input-container class="md-block" flex>
                <div style="height:460px">
                    <label>请拖入测试用例</label>
                    <textarea rows="15" md-select-on-focus ng-model="test" ng-drop="readFile($event)"></textarea>
                </div>
            </md-input-container>
            <md-button class="md-fab md-accent md-fab-bottom-right" ng-click="run()">
                Run
            </md-button>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
        <md-tab-label>Token输出</md-tab-label>
        <md-tab-body>
            <div style="height:490px;overflow-y:scroll" ng-model="token">
                <table>
                    <tr ng-repeat="x in token">
                        <td>{{ $index + 1 }}</td>
                        <td class="data">{{ x[1] }}</td>
                        <td class="data">{{ '< '+x[0]+' , '+x[1]+' >'}}</td>
                    </tr>
                </table>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab id="tab3">
        <md-tab-label>状态转换图</md-tab-label>
        <md-tab-body>
            <div style="height:490px;overflow-y:scroll" ng-model="graph">
                <table>
                    <tr ng-repeat="x in graph">
                        <td>{{ $index + 1 }}</td>
                        <td class="data">{{ x }}</td>
                    </tr>

                </table>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>