<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>编译器</title>
    <link href="http://cdn.bootcss.com/angular-material/1.1.1/angular-material.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-material/1.1.1/angular-material.js"></script>
</head>
<body ng-controller="myCtrl">
{{firstName + " " + lastName}}
</body>
<script src="app/app.js"></script>
</html>